AddType video/mp4 mp4 m4v f4v f4p
AddType video/ogg ogv
AddType video/webm webm
AddType video/x-flv flv

  RewriteEngine on
  RewriteBase /smarttrash
  RewriteCond %[REQUEST_URI] ^system.*
  RewriteRule ^(.*)$ /index.php?/$1 [L]
  RewriteCond %[REQUEST_URI] ^application.*
  RewriteRule ^(.*)$ /index.php?/$1 [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?/$1 [L]

<IfModule !mod_rewrite.c>
ErrorDucument 404/index.php
</IfModule>
